* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at center,
                rgba(255, 254, 234, 1) 0%,
                rgba(255, 254, 234, 1) 35%,
                #c0fcecca 100%);
    overflow: hidden;
}

/*cabeza de pagina*/
.emcabezado {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #c0fcec;
    box-shadow: 1px 0px 2px rgb(82, 76, 76);
}

.logo{
    /* width: 48px; */
    width: 5%;
    padding: 3px; 
}

.logo_img{
    width: 100%;
    height: 100%;
}

.buscador {
    margin-top: 30px;
    width: 75%;
    height: 50%;
}

.buscador__but {
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 9%;
    box-shadow: 1px 1px 4px 1px black;
    border: none;
}
.buscador__but:focus {
    border: none;
    width: 600px;
    transition: 0.5s;
}

.botones{
    display: flex;
    margin-top: 30px;
    width: 30%;
    height: 50%;
}
.boton_1:hover {
    background-color: rgb(148, 124, 172);
    box-shadow: 1px 2px 2px rgb(82, 76, 76);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
    font-size: 15px;
}
.boton_2:hover {
    background-color: rgb(148, 124, 172);
    box-shadow: 1px 2px 2px rgb(82, 76, 76);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
    font-size: 15px;
}
.boton_1 {
    background: rgb(126, 249, 249);
    height: 25px;
    width: 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 3px 5px 0px black;
    font-size: 15px;
    opacity: 70%;
}
.referencia {
    width: 40%;
}
.boton_2 {
    background: rgb(126, 249, 249);
    height: 25px;
    width: 120%;
    border-radius: 7px;
    margin-left: 10px;
    box-shadow: 0px 3px 5px 0px black;
    border: none;
    margin-left: 20px;
}

/*cuerpo*/

main{
    height: 80vh;
}


.titulo_como_jugar {
    font-size: 30px;
    margin-left: 30px;
    height: 60%;
    text-align: center;
}
.subtitulo {
    font-size: 15px;
    padding: 10px 0px 0px 20px;
}

.cuerpo {
    display: flex;
    height: 80%;
    margin-top: 5%;
}

.cuerpo_1 {
    display: flex;
    height: 80vh;
    background-color: white;
}

.espacio_cuerpo {
    width: 5%;
}

.cuerpo1 {
    width: 30%;
}

.titulo {
    font-size: 25px;
    padding: 15px;
}

.cuadro_de_texto {
    background-color: #82fad4;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
    height: 7vh;

}

.cuadro_de_texto_texto {
    background-color: rgba(203, 223, 240, 0.66);
    height: 60%;
    border-radius: 0px 0px 30px 30px;
}

.cuerpo2 {
    width: 40%;
}

.subtitulo_video {
    margin-left: 30%;
    margin-right: 35%; 
    text-align: center;
    width: 40%;
    font-size: 25px;
}

.inserte_imagen {
    margin: 10%;
    height: 60%;
    width: 75%;
}

.imagen_video {
    margin-top: -10%;
    width: 105%;
    height: 100%;
}

.espacio_cuerpo {
    width: 5%;
}

/*pie de pagina*/

footer {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #c0fcec;
}

.info {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}
.info_text {
    margin-top: 2%;
    width: 90%;
    font-size: 13px;
}
.redestext {
    margin-top: 2%;
    height: 22%;
}
.redes {
    height: 70%;
    width:10%;
    padding: 3px;
    display: flex;
    margin-top: 8.5px;
}
.logored_1 {
    width: 100%;
    height: 70%;
    margin-top: 15%;
    margin-left: 10%;
}
.logored_2 {
    width: 100%;
    height: 70%;
    margin-top: 15%;
    margin-left: 20%;
}
.logored_3 {
    width: 100%;
    height: 70%;
    margin-top: 15%;
    margin-left: 30%;

}

/*menu*/
.menu {
    height: 6%;
}
.referencia {
    text-decoration: none;
}

.but_menu {
    width: 8%;
    margin-top: 7px;
    margin-left: 7px;
    background-color: rgb(126, 249, 249);
    border-radius: 7px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    border: none;
}
.but_menu:hover {
    background-color: rgb(148, 124, 172);
    box-shadow: 1px 2px 2px rgb(82, 76, 76);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}